* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    color: white;
    font-size: 100;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

nav {
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 250px;
    position: relative;
}

.nav-links ul li a {
    color: #f40000;
    text-decoration: none;
    font-size: 30px;
	font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 4px;
    background: rgb(192, 0, 60);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}